.header {
    width: 100%;
    height: 64px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    position: fixed;
    margin: 0;
}


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-top-img {
    width: 88px;
    height: 100%;
}


.header-top-Search {
    position: relative;
    flex: 1;
    margin-left: 20px;


    .Search {
        border: 1px solid #f2f2f2;
        background: #f9f9f9;
        border-radius: 8px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .iconfont-698 {
            font-family: 'iconfont' !important;
            margin-left: 15px;
            color: #979797;
        }

        input {
            background-color: #f9f9f9;
            flex: 1;
            outline: none;
            margin-left: 10px;
        }

        button {
            width: 90px;
            height: 100%;
            background-color: #fd6721;
            font-size: 16px;
            color: #ffff;
        }
    }


    .Elephant {
        position: absolute;
        top: 30px;
        flex: 0;
        width: 100%;
        height: 125px;
        border: 1px solid lightgrey;
        border-top: 0;
        background-color: #ffffff;
        padding: 20px;

        ul {
            margin: 20px 0;
            display: flex;

            li {
                line-height: 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 175px;
                height: 45px;
                margin-right: 30px;
                background-color: #f2f2f2;
                border-radius: 20px;

                .iconfont-660 {
                    top: 10px;
                    flex: 10px;
                    position: absolute;
                    font-family: 'iconfont' !important;
                }

                p{
                    font-size: 12px;
                }
            }
        }
    }
}

.header-top-Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 100%;

    .Apple {
        width: 220px;
        text-align: center;
        color: #4d4d4d;
        font-size: 14px;
        cursor: pointer;

        a:first-child {
            margin-right: 10px;
        }

        a:hover {
            background-color: #f2f2f2;
        }

        .iconfont-8f2 {
            font-family: 'iconfont' !important;
            font-size: 20px;
        }

    }

    .iconfont-904 {
        font-family: 'iconfont' !important;
        font-size: 20px;
    }

    .Cat-Login {
        position: relative;

        .Login {
            line-height: 36px;
            text-align: center;
            width: 96px;
            height: 36px;
            border: 1px solid #f2f2f2;
            border-radius: 8px;
            font-size: 14px;
            color: #ff6b00;
            cursor: pointer;

        }

        &:hover {
            .Banana {
                display: block;
            }

            .Dog {
                display: block;
            }
        }


        .Banana {
            display: none;
            background-color: #ffffff;
            position: absolute;
            top: 60px;
            right: 0;
            width: 280px;
            height: 220px;
            border-radius: 8px;
            border: 1px solid lightgray;
            padding: 20px 30px;

            h4 {
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li {
                    margin-bottom: 20px;
                    font-size: 14px;

                    .iconfont-909 {
                        font-family: 'iconfont' !important;
                        font-size: 18px;
                        color: #ff6b00;
                    }
                }
            }

            div {
                height: 30px;
                width: 100%;
                background-color: #fd6721;
                border-radius: 8px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                color: #ffffff;
                font-weight: 350;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                font-size: 14px;
                color: #4d4d4d;

                a {
                    color: #ff6b00;
                }
            }


        }

        .Dog {
            display: none;
            position: absolute;
            top: 45px;
            right: 43px;
            width: 30px;
            height: 30px;
            transform: rotate(-45deg);
            background-color: #ffffff;
            border-top: 1px solid lightgrey;
            border-right: 1px solid lightgrey;
            border-radius: 0 4px 0 0;
        }

    }

}




