.Rainbow{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.Tiger{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    .iconfont-674{
        font-family: 'iconfont' !important;
        font-size: 20px;
        opacity: 0.5;
        &:hover{
            opacity: 0.8;
        }
    }
}

.Flower {
    background-color: #ffffff;
    position: fixed;
    top: 25%;
    left: 30%;
    width: 640px;
    height: 400px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 20px;
}

.Guitar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    border-right: 1px solid lightgrey;

    h3 {
        width: 100%;
        text-align: center;
    }

    .Ice {
        display: flex;
        width: 270px;
        height: 50px;
        background-color: #f6f6f6;
        border-radius: 8px;
        align-items: center;
        margin-top: 15px;


        label {
            margin: 0 5px 0 10px;
        }

        .iconfont-744 {
            font-family: 'iconfont' !important;
        }

        input {
            flex: 1;
            outline: none;
            height: 25px;
            margin: 0 0 0 20px;
            background-color: #f6f6f6;
        }

        button{
            color: #ff6b00;
            cursor: pointer;
            background-color: #f6f6f6;
            margin: 0 10px;
            height: 25px;
            font-size: 16px;
        }

    }

    p{
        position: absolute;
        top: 102px;
        left: 34px;
        font-size: 12px;
        color: #fd6721;
    }

    .Journey{
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: #fd6721;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin-top: 40px;
        &:hover{
            background-color: rgba(253, 103, 33, 0.8);
        }
    }

    .Kite{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #9999;
        input{
            margin-right: 10px;
        }

    }

    .Lemon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #9999;
        a{
            color: #fd6721;
        }
    }

}

.Happiness{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;

    .Notebook{
        font-size: 12px;
        color: #9999;
        margin-top: 10px;
    }

    .Ocean{
        position: relative;
        width: 140px;
        height: 140px;
        padding: 10px;
        border: 1px solid #8888;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;;
        }

        .Discovery{
            z-index: 1;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            position: absolute;
            p{
                text-align: center;
                line-height: 20px;
            }
            button{
                font-size: 16px;
               background:none;
                color: #4a90e2;
            }
        }
    }

    .Mountain{
        width: 100%;
        img{
            width: 100%;

        }
    }

    .Peace{
        font-size: 13px;
        color: #8d8d8d;
      .iconfont-762{
          color: #979797;
          font-size: 18px;
          font-family: 'iconfont' !important;
      }
    }
}