#streaming {
    margin-top: 50px;
}

.Shadow {
    line-height: 30px;

    h4 {
        font-size: 16px;
        color: #666;
        font-weight: 400;
    }
}

.Bliss {
    display: flex;
    margin: 50px auto 30px;
    justify-content: space-around;
    align-items: center;

    .Mirage {
        width: 140px;
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .iconfont-8f9 {
            font-family: 'iconfont' !important;
            margin-right: 5px;
            font-size: 20px;
            color: #ff6b00;
        }
    }
}

.Harvest {
    display: flex;

    .Firefly {
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 8px;
        margin-right: 20px;
        max-width: 280px;
        transition: transform 0.5s ease;

        &:hover {
            transform: translateY(-4px);
        }

        img {
            width: 100%;
        }
        .Clarity{
            padding:10px 10px 0 10px;
        }

        .Bounty {
            padding: 20px;

            .Meadow {
                font-size: 16px;
            }

            .Current {
                margin-top: 10px;
                font-size: 12px;
                color: #8d8d8d;
            }

            .Cascade {
                margin-top: 50px;
                font-size: 12px;
                color: #999;
            }



            .Flare {
                font-size: 14px;
                background-color: #f6f6f6;
                border-radius: 20px;
                width: 100%;
                height: 32px;
                line-height: 32px;
                text-align: center;
                margin-top: 20px;

                &:hover {
                    a {
                        color: #ffffff;
                    }

                    background-color: #fd6721;
                }

                a {
                    color: #ff6b00;
                }
            }

            .Legacy{
                bottom: 100px;
                left: 20px;
                position: absolute;
                font-size: 13px;
                color: #ff6b00;
                .iconfont-93a{
                    color: #ff6b00;
                    font-size: 13px;
                    font-family: 'iconfont' !important;
                }
            }

            .Legacy1{
                bottom: 50px;
                left: 20px;
                position: absolute;
                font-size: 13px;
                color: #ff6b00;
                .iconfont-93a{
                    color: #ff6b00;
                    font-size: 13px;
                    font-family: 'iconfont' !important;
                }
            }

            .iconfont-6ff{
                font-family: 'iconfont' !important;
                color: #fd6721;
                position: absolute;
                bottom: 15px;
                right: 20px;
                font-size: 25px;

            }

        }

        .Quest {
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 10px;
            left: -4px;
            padding: 5px 8px;
            font-size: 11px;
            color: #ffffff;
            background: linear-gradient(95.7deg, #ff862f -0.75%, #ffa42f 92.9%);
        }
        .Embrace {
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 10px;
            left: -4px;
            padding: 5px 8px;
            font-size: 11px;
            color: #ffffff;
            background: linear-gradient(90.12deg, #ff6b00 0.1%, #ff2e00 99.9%);
            .iconfont-76c{

                font-family: 'iconfont' !important;
            }
        }

        .Pathway {
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 10px;
            left: -4px;
            padding: 5px 8px;
            font-size: 11px;
            color: #ffffff;
            background: linear-gradient(90.12deg, #59ccb2 0.1%, #0bb861 99.9%);

        }

        .Radiance{
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 10px;
            left: -4px;
            padding: 5px 8px;
            font-size: 11px;
            color: #ffffff;
            background: linear-gradient(90.12deg, #59ccb2 0.1%, #0bb861 99.9%);

        }
        .Insight{
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 10px;
            left: -4px;
            padding: 5px 8px;
            font-size: 11px;
            color: #ffffff;
            background: linear-gradient(90.12deg, #59ccb2 0.1%, #0bb861 99.9%);

        }

        }

    }

.Reflection{
    margin-top: 50px;
}




.Drift {

    margin: 50px auto;
    border-radius: 8px;
    width: 360px;
    height: 40px;
    line-height: 40px;
    text-align: center;


    &:hover {
        background-color: #ffffff;
    }

    a{
        color: #ff6b00;
        font-size: 16px;
        opacity: 0.9;
    }

    .iconfont-746 {
        font-family: 'iconfont' !important;
        color: #ff6b00;
    }
}
.Glimmer{
    position: relative;
    .Flourish{
        overflow: hidden;
        margin: 50px 0;
        display: flex;
        width: 100%;
        height: 48px;
        background-color: #f2f2f2;
        border-radius: 10px;
        align-items: center;
        padding: 0 5px;
        li{
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            padding: 0 20px;
            height: 40px;
            border-radius: 8px;
        }
        .active{
            background-color: #ff6b00;
        }
    }

    .iconfont-741{
        cursor: pointer;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 6px;
        left: 10px;
        position: absolute;
        font-family: 'iconfont' !important;
        color: #8d8d8d;
        &:hover{
            color: #ff6b00;
        }
    }

    .iconfont-746{
        cursor: pointer;
        color: #8d8d8d;
        position: absolute;
        font-family: 'iconfont' !important;
        top: 6px;
        right: 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            color: #ff6b00;
        }

    }
}





